@import "bootstrap";

.field_with_errors{
  @extend .has-error;
  @extend .firm-control;
}

body{

background: url('digital.jpg') no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color:white;
}
html{min-height:100%;position:relative}


/*These are custom fonts, normally not avalible on the web */
@font-face
{
font-family: bankgothic;
src: url('bankgthd.ttf')
    ,url('bankgthd.eot'); 
}

h1{
color:white;
font-family:bankgothic;
}

p{
color:white;
}

